doctype html
html
    head
        title= title
        link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
        link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/styles/default.min.css")
        link(rel="stylesheet", href="/stylesheets/style.css")


        script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/highlight.min.js")
        script(src="//code.jquery.com/jquery-1.10.1.min.js")
        script(type="application/javascript", src="/javascripts/bluebird.min.js")
        script(type="application/javascript", src="/javascripts/sjcl.js")

        block header
    body
        block content